[submodule "Carthage/Checkouts/Alamofire"]
	path = Carthage/Checkouts/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "Carthage/Checkouts/Breit"]
	path = Carthage/Checkouts/Breit
	url = https://github.com/kumabook/Breit.git
[submodule "Carthage/Checkouts/Nimble"]
	path = Carthage/Checkouts/Nimble
	url = https://github.com/Quick/Nimble.git
[submodule "Carthage/Checkouts/Quick"]
	path = Carthage/Checkouts/Quick
	url = https://github.com/Quick/Quick.git
[submodule "Carthage/Checkouts/realm-cocoa"]
	path = Carthage/Checkouts/realm-cocoa
	url = https://github.com/realm/realm-cocoa.git
[submodule "Carthage/Checkouts/Result"]
	path = Carthage/Checkouts/Result
	url = https://github.com/antitypical/Result.git
[submodule "Carthage/Checkouts/ReactiveSwift"]
	path = Carthage/Checkouts/ReactiveSwift
	url = https://github.com/ReactiveCocoa/ReactiveSwift.git
[submodule "Carthage/Checkouts/ReactiveCocoa"]
	path = Carthage/Checkouts/ReactiveCocoa
	url = https://github.com/ReactiveCocoa/ReactiveCocoa.git
[submodule "Carthage/Checkouts/SDWebImage"]
	path = Carthage/Checkouts/SDWebImage
	url = https://github.com/rs/SDWebImage.git
[submodule "Carthage/Checkouts/SnapKit"]
	path = Carthage/Checkouts/SnapKit
	url = https://github.com/SnapKit/SnapKit.git
[submodule "Carthage/Checkouts/PlayerKit"]
	path = Carthage/Checkouts/PlayerKit
	url = https://github.com/kumabook/PlayerKit.git
[submodule "Carthage/Checkouts/SwiftyJSON"]
	path = Carthage/Checkouts/SwiftyJSON
	url = https://github.com/SwiftyJSON/SwiftyJSON.git
[submodule "Carthage/Checkouts/FeedlyKit"]
	path = Carthage/Checkouts/FeedlyKit
	url = https://github.com/kumabook/FeedlyKit.git
[submodule "Carthage/Checkouts/SoundCloudKit"]
	path = Carthage/Checkouts/SoundCloudKit
	url = https://github.com/Spincoaster/SoundCloudKit.git
[submodule "Carthage/Checkouts/XCDYouTubeKit"]
	path = Carthage/Checkouts/XCDYouTubeKit
	url = https://github.com/0xced/XCDYouTubeKit.git
[submodule "Carthage/Checkouts/MusicFeeder"]
	path = Carthage/Checkouts/MusicFeeder
	url = https://github.com/kumabook/MusicFeeder.git
[submodule "Carthage/Checkouts/DrawerController"]
	path = Carthage/Checkouts/DrawerController
	url = https://github.com/sascha/DrawerController.git
[submodule "Carthage/Checkouts/FLAnimatedImage"]
	path = Carthage/Checkouts/FLAnimatedImage
	url = https://github.com/Flipboard/FLAnimatedImage.git
[submodule "Carthage/Checkouts/AMScrollingNavbar"]
	path = Carthage/Checkouts/AMScrollingNavbar
	url = https://github.com/andreamazz/AMScrollingNavbar.git
[submodule "Carthage/Checkouts/PageMenu"]
	path = Carthage/Checkouts/PageMenu
	url = https://github.com/orazz/PageMenu.git
