github "kumabook/MusicFeeder"
github "Quick/Quick"
github "Quick/Nimble"
github "orazz/PageMenu" "master"
github "sascha/DrawerController"
github "kumabook/AMScrollingNavbar" "horizontal_scroll_validation"
github "0xced/XCDYouTubeKit"
